.Upbar {
    /* Rectangle 2 */

position: absolute;
height: 121px;
font-family: 'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
background: #0F1142;

/* Rectangle 2 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 9.02%;
background: #282B9E;
}

.Upbar #upbar-links {
    display: flex;
    justify-content: space-between;
    padding-left: 650px;
    margin: 59px 67px;
}

.Upbar .main-nav {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 35px;
}

.Upbar .main-nav-active{
    font-weight: 700;
    font-weight: bold;
}